In [1]:
import pandas as pd

In [13]:
frame1 = pd.DataFrame({'id':range(5),'frame1':['a','b','c','d','e']})
frame2 = pd.DataFrame({'id':range(3,8),'frame1':['t','w','x','y','z']})

In [14]:
frame1

  frame1  id
0      a   0
1      b   1
2      c   2
3      d   3
4      e   4

In [15]:
frame2

  frame1  id
0      t   3
1      w   4
2      x   5
3      y   6
4      z   7

In [23]:
#類似SQL的join where id = id
pd.merge(frame1,frame2,on='id',how='left') #left join
pd.merge(frame1,frame2,on='id',how='right')# right join
pd.merge(frame1,frame2,on='id',how='outer')# outer join
pd.merge(frame1,frame2,on='id',how='inner')# inner join

  frame1_x  id frame1_y
0        d   3        t
1        e   4        w

In [28]:
# concat 兩個dataframe做合併 依照aixs軸設定 ,是新創的記憶體位置
#concat([f1,f2],axis=[0(直向合併)|1(橫向合併)])
pd.concat([frame1,frame2],axis=0)

  frame1  id
0      a   0
1      b   1
2      c   2
3      d   3
4      e   4
0      t   3
1      w   4
2      x   5
3      y   6
4      z   7